body {
	font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
	line-height: 1.6;
	font-size: 14px;
	width: 910px;
	margin: 0 auto;
	background-color: #d7e1ec;
	background: url(html-bg.png) 0% 0% repeat-x;
	margin-bottom: 30px;
}

.downloadbar {
	float: right;
	padding-top: 20px;
	margin-right: 20px;
}

.downloadbox {
	background-color: #26bb26;
	-moz-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #888;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

.downloadbox:hover {
	background-color: #26dd26;
}

.downloadbox a {
	color: inherit;
}

.downloadtitle {
	font-family: 'DejaVu Sans', Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.downloadother {
	padding-top: 2px;
}
.downloadother a {
	font-size: 11px;
	font-family: 'DejaVu Sans', Verdana, Arial, sans-serif;
	font-weight: inherit;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #4e6d9f;
}

ul {
	padding-left: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	list-style-type: square;
	padding-top: 5px;
	padding-bottom: 5px;
}

.title, .subtitle {
	padding-left: 30px;
}

.title {
	padding-top: 50px;
	font-size: 37px;
}

.subtitle {
	margin-bottom: 20px;
}

.code {
	font-weight: bold;
	display: inline-block;
}

.block {
	padding-top: 40px;
	clear: both;
}

.ss {
	text-align: center;
	width: 521px;
	float: right;
}

.textblock {
	float: left;
	width: 370px;
}
